@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Nunito Sans", sans-serif;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.3rem;
}
body[data-theme="dark"] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --colors-active: #ffff;
  --shadow: 0 0 7px 0 rgba(0, 0, 0, 0.29);
}
body[data-theme="light"] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --colors-active: #007bff;
  --shadow: 0 0 7px 0 rgba(0, 0, 0, 0.29);
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-normal);
  background-color: var(--colors-bg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
